{% extends 'board/base.html' %}
{% block title %}글목록{% endblock title %}
{% block content %}

<form action={%url "board:search" %}>
    {{searchform}} 
    <button type="submit" class="btn btn-primary btn-sm ">검색</button>
</form>

{% if searchcount %}
    <p>검색결과:{{searchcount}}개 찾음
    <a href={%url "board:list" %}>[[목록으로]]</a>
    </p>
{% endif %}

{% if object_list %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">내용</th>
            <th scope="col">파일명</th>
            <th scope="col">등록일자</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td><a href={%url "board:detail" object.pk%}>{{object.title}}</a></td>
                <td>{{object.writer}}</td>
                <td>{{object.content}}</td>
                <td><a href="" download>{{object.file}}</a></td>
                <td>{{object.regdate}}</td>
                <td>{{object.read_count}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

{% else %}
    <p>게시물이 존재하지 않습니다.</p>    
{% endif %}

{% if is_paginated %}
    {% if  page_obj.has_previous%}
        <a href=?page={{page_obj.previous_page_number}}&keyword={{keyword}} >이전</a>

    {% endif %}
    {% for i in paginator.page_range %}
        {% if i == page_obj.number %}
            <span style= "color:red;">[{{i}}]</span>
        {% elif i > page_obj.number|add:"-2" and i <  page_obj.number|add:"2" %}
            <a href="?page={{i}}&keyword={{keyword}}">[{{i}}]</a>
        {% endif %}
    {% endfor %} 

    {% if  page_obj.has_next%}
        <a href=?page={{page_obj.next_page_number}}&keyword={{keyword}}>이후</a>
    {% endif %}

{% endif %} 
<br>
<a href={%url "board:create" %}><button class="btn btn-primary btn-sm ">글쓰기</button></a>
{% endblock content %}